body{
    background-color: #2c2c2c;
}

aside{
    float: left;
    background-color: #181818;
    width: auto;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img{
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: +15px;
}

aside h3{
    margin-top: 50px;
    font-size: 20px;
}

aside ul, aside a{
    list-style: none;
    text-decoration: none;
}

aside ul li{
    color: #fff;
    display: block;
}

aside ul li:hover, aside ul a:hover{
    color: #bab8b8;
    text-decoration: none;
}

main .features{
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}